@model BuyGroceriesOnline.Models.Coupon

@{
    ViewData["Title"] = "Edit";
}
<br/>
<h2>Edit Coupon</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCoupon" asp-route-id="@Model.CouponId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CouponId" />
            <div class="form-group">
                <label asp-for="CouponName" class="control-label"></label>
                <input asp-for="CouponName" class="form-control" />
                <span asp-validation-for="CouponName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="ListCoupons" class="btn btn-primary">Back to List</a>
</div>

