@model IEnumerable<Category>

<div class="dropdown">
    <li class="btncolor text-dark btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Category
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var category in Model){
            <li>
                <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-id="@category.CategoryId" >
                    @category.CategoryName
                </a>
            </li>
        }
        <li>
            <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-id="0">
                    View All Product
                </a>
        </li>
    </ul>
</div>