<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BuyGroceriesOnline</title>
    <link rel="stylesheet" href="~/css/bootswatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BuyGroceriesOnline.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
             <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">One Stop Grocery</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                             <li class="nav-item">
                               <a class="nav-link" asp-controller="Order" asp-action="DisplayOrder"><i class="bi bi-tags"></i>
                                @if (Context.Session.GetString("manager") == "0")
                                {
                                    <span>My</span>
                                }else
                                {
                                    <span>All</span>
                                }  
                                   Orders
                                   
                               </a>
                             </li>

                            <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="ShoppingCart" asp-action="Index"><i class="bi bi-cart3"></i> Cart @await Component.InvokeAsync("ShoppingCartSummary")</a>
                            </li>                        
                         </ul>
                         <form class="d-flex" style="width:700px !important;" asp-controller="Product" asp-action="SearchButton" method="get">
                              <input class="form-control me-sm-2" type="text" placeholder="Search your product..." name="name">
                              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                          </form>

                        <div class="ms-auto">
                            <partial name="_LoginPartial">
                        </div>
                    </div>
             </div>
        </nav>

        <nav class="navbar navbar-expand-lg bg-light text-black" >
            <div class="container-fluid">
              <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="List"><i class="bi bi-house"></i> All Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="ListCategory"><i class="bi bi-bookmarks"></i> Shop By Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="ProductOfWeek"><i class="bi bi-tags"></i> Best Sellers</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Category" asp-action="CategoryList"><i class="bi bi-tags"></i> All Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="ListMini"><i class="bi bi-list"></i> List Mini</a>
                  </li>
                        @if (Context.Session.GetString("manager") == "0")
                        {
                            <li class="nav-item" align="center">
                                <a class="nav-link" asp-controller="Order" asp-action="FeedBack"><i class="bi bi-chat-right"></i> Feedback</a>
                            </li>
                        }
                        @if(Context.Session.GetString("manager")=="1")
                    {
                      <li class="nav-item">
                      <a class="nav-link" asp-controller="Order" asp-action="AllFeedback"><i class="bi bi-chat-right"></i> All Feedbacks</a>
                      </li>
                    }
                    @await Component.InvokeAsync("CategoryMenu")
                   <div class="dropdown">
                    <li class="btncolor text-dark btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="bi bi-funnel"></i> Filter 
                    </li>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-controller="Filter" asp-action="FilterPriceUp" >Low - High</a></li>
                        <li><a class="dropdown-item" asp-controller="Filter" asp-action="FilterPriceDown" >High - Low</a></li>
                        <li><a class="dropdown-item" asp-controller="Filter" asp-action="FilterBrand" >By Brand</a></li>
                        <li><a class="dropdown-item" asp-controller="Filter" asp-action="FilterStock" >In Stock</a></li>
                      </ul>
                  </div>
                </ul>
              </div>
            </div>
        </nav>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    @*<footer class="footer text-muted bg-light text-dark">
        <div class="container">
            &copy; 2022 - BuyGroceriesOnline - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> |
            <a asp-controller="ProductAndCategory" asp-action="ListAPI"><i class="bi bi-tags"></i>API Products</a> |
             <a asp-controller="ProductAndCategory" asp-action="ProductOfTheWeekAPI"><i class="bi bi-tags"></i>API Best Deals</a> |
             <a asp-controller="ProductAndCategory" asp-action="AllCategoriesAPI"><i class="bi bi-tags"></i>API All Categories</a> 
        </div>
    </footer>*@

    

  <!-- Footer -->
  <footer class="text-center text-lg-start text-white footerdesign">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Buy Groceries Online
            </h6>
            <p>
              For those of you with erratic working hours, BuyGroceries Online is your best bet. Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never shuts down.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Web API's</h6>
            <p>
              <a style="color:white;" asp-controller="ProductAndCategory" asp-action="ListAPI"><i class="bi bi-tags"></i> API Products</a> 
            </p>
            <p>
              <a style="color:white;" asp-controller="ProductAndCategory" asp-action="ProductOfTheWeekAPI"><i class="bi bi-tags"></i> API Best Deals</a> 
            </p>
            <p>
              <a style="color:white;" asp-controller="ProductAndCategory" asp-action="AllCategoriesAPI"><i class="bi bi-tags"></i> API All Categories</a> 
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Jabalpur, MP 482001, INDIA</p>
            <p><i class="fas fa-envelope mr-3"></i> BuyGroceries@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 91 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 91 234 567 89</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

            

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="#!"
               role="button"
               ><i class="bi bi-linkedin"></i></a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="#!"
               role="button"
               ><i class="bi bi-github"></i></a>
               <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #FF0000"
               href="#!"
               role="button"
               ><i class="bi bi-instagram"></i></a>
               <!-- Whatapp -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #2E8B57"
               href="#!"
               role="button"
               ><i class="bi bi-whatsapp"></i></a>
               <!-- Telegram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39"
               href="#!"
               role="button"
               ><i class="bi bi-telegram"></i></a>
               <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="#!"
               role="button"
               ><i class="bi bi-facebook"></i></a>
          </div>

        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> 
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
<!-- End of .container -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

