@using BuyGroceriesOnline.ViewModels
@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="text-light">
        <a>
            @*<img src="~/Images/IconCart.jpg" width="40" height="40"/>*@
@*            <span class="glyphicon glyphicon-shopping-cart"></span>*@          
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}

