@model IEnumerable<BuyGroceriesOnline.Models.Coupon>

@{
    ViewData["Title"] = "ApplyCoupon";
}
<br />
<h1>Apply Coupons</h1>
<hr />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Coupon Name
            </th>
            <th>
                Discount in %
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="CalculateDiscount" asp-route-id="@item.CouponId">Apply Coupon</a> 
            </td>

        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="ShoppingCart" asp-action="Index" class="btn btn-primary">Back To Cart</a>
</div>